Checks: >
  -*,
  clang-diagnostic-braced-scalar-init,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  bugprone-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-union-access,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '^(Game|Minigin)/.*'
CheckOptions:
  - key:   performance-move-const-arg.CheckTriviallyCopyableMove
    value: 1